.topbar-nav{
    background-color:#333000;
    position: relative;
}
.topbar-nav a{
color: white;
line-height: 40px;
display: inline-block;
}
a,a:hover{
    text-decoration: none;
}
#demoA{
    text-indent: 5em;
}